style
	label { display:block; }
form(method='post', action='login')
	div= info 
	label(for='username') Username:
	input(type='text', name='username', size='25')
	label(for='password') Password:
	input(type='text', name='password', size='25')
	input(type='submit')
