style
	label { display:block; }
form(method='post', action='/projects')
	label(for='title') Title:
	input(type='text', name='title', size='100')
	label(for='body') Description:
	textarea(name='description', cols='100',rows='20')
	input(type='submit')
