style
	label { display:block; }
form(method='post', action='projects')
	label(for='title') Title:
	input(type='text', name='title', size='100')
	label(for='body') Url:
	input(type='text', name='description', size='100')
	br
	input(type='submit') Submit
