table
	- var i = 0;
	- each project in projects 
		tr
			td(class='col1')= ++i + '.'
			td
				a(href='upvote/'+project.id)
					img(src='grayarrow.gif')
			td= project.title 
		tr
			td
			td
			td
				span(style='font-size:7pt')= ( project.votes || 0 ) + ' points'

