table
	- var i = 0;
	- each project in projects 
		tr
			td(class='col1')= ++i + '.'
			td
				a(href='')
					img(src='grayarrow.gif')
			td= project.title 
		tr
			td
			td
			td
				span= ( project.votes || 0 ) + ' points'

